---
interface Props {
  name: string;
}

const { name } = Astro.props;
---
<section class="min-h-screen w-screen grid place-items-center" data-name={name} >
    <div class="w-full h-full">
        <slot />
    </div>
</section>