---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<Card
			href="#"
			title="Profile"
			body="TODO: Blurb about who I am..."
		/>
		<Card
			href="#"
			title="Work"
			body="TODO: Featured projects and past employers"
		/>
		<Card
			href="#"
			title="Thoughts"
			body="TODO: Highlighted content (videos, blogs)"
		/>
		<Card
			href="#"
			title="Email"
			body="TODO: Email capture for my substack"
		/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
</style>
