---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProfileHero from '../components/ProfileHero.astro';
import Card from '../components/Card.astro';
import WorkHighlight from '../components/WorkHighlight.astro';
---

<Layout title="Home">
	<Hero />
	<ProfileHero />
	<WorkHighlight />
	<main>
		<Card
			href="#"
			title="Thoughts"
			body="TODO: Highlighted content (videos, blogs)"
		/>
		<Card
			href="#"
			title="Email"
			body="TODO: Email capture for my substack"
		/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		max-width: 60ch;
	}
</style>
