---
---
<section class="bg-zinc-400 overflow-hidden">
  <div class="container mx-auto relative flex items-center">
    <div class="z-50 mix-blend-difference pointer-events-none absolute rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-1/2 aspect-square"></div>
    <div class="z-20 relative p-16 pl-24 flex flex-col gap-16">
      <p class="title bold-weight tracking-tight leading-tight">Join the &amp;crew.</p>
      <fieldset>
        <div class="flex gap-8 h-16">
          <input
          type="email"
          class="
          mt-0
          block
          w-full
          px-0
          border-0 border-b-2 border-zinc-500
          bg-transparent
          focus:ring-0 focus:border-black
          "
          placeholder="john@example.com"
          />
          <button class="basis-1/5 rounded bg-cyan-500 uppercase">Join</button>
        </div>
        <label class="uppercase small-text">Email</label>
      </fieldset>
      <div class="lg:columns-3 font-light">
        <p>Benefit of signing up for my email list </p>
        <p>Another benefit that would entice you</p>
        <p>The final benefit saved for last</p>
      </div>
    </div>
    <div class="z-0 absolute -left-1 rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-1/2 aspect-square"></div>
  </div>
</section>
