---

---
<section class="bg-neutral-400">
    <div class="container mx-auto p-8 flex flex-col">
        <h3 class="leading-tight my-8 lg:my-16">Join the &amp;crew.</h3>
        <div class="lg:columns-3 font-light">
            <p>Benefit of signing up for my email list </p>
            <p>Another benefit that would entice you</p>
            <p>The final benefit saved for last</p>
        </div>
    </div>
</section>
