---
---
<header class="w-full fixed top-0 z-50 pointer-events-none">
    <nav class="flex justify-between items-center p-8">
        <a href="/"><h1 class="black-weight leading-[.5]">&amp;rew.</h1></a>
        <a href="/" class="px-3 py-1 border border-solid border-zinc-900 bg-zinc-100 bg-opacity-10 rounded-full flex items-center gap-2">
            <svg height="20" width="20" class="fill-lime-300">
                <circle cx="10" cy="10" r="10" />
            </svg>
            <p>Let's Connect</p>
        </a>
    </nav>
</header>

<style>
    a {
        pointer-events: auto;
    }
</style>
