---
import HomepageSection from './HomepageSection/index.astro'
---
<HomepageSection name="Hero">
    <div class="flex items-center justify-center hero-section h-screen w-screen bg-amber-200">
        <h1>Hero</h1>
    </div>
</HomepageSection>

