---
import HomepageSection from './HomepageSection/index.astro'
---
<HomepageSection name="Hero">
    <div class="flex items-center justify-center hero-section aspect-video 2xl:rounded-lg mx-auto container  w-screen max-w-[2160px] bg-amber-200">
        <h1>Hero</h1>
    </div>
</HomepageSection>

