---
import HomepageSection from './HomepageSection/index.astro';
---
<HomepageSection  name="Profile Hero">
    <div class="container mx-auto relative flex lg:items-center">
        <div class="z-0 m-4 pointer-events-none absolute rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-1/2 aspect-square"></div>
        <div class="relative z-10 container mx-auto px-8 lg:pl-[25vw] flex flex-col">
            <h1 class="uppercase w-fit text-right ml-auto black-weight leading-none tracking-tight lg:text-[8vw]">Andrew <br /> HoChoy</h1>
            <h2 class="leading-tight my-8 lg:my-16">And so long as we're not doing everything in our 
                personal and collective power to solve them, we 
                know the conscience of our nation cannot rest. </h2>
            <div class="lg:columns-2">
                <p  class="break-after-column subheading">And so long as we're not doing everything in our 
                    personal and collective power to solve them, we 
                    know the conscience of our nation cannot rest. </p>
                <div>
                    <p class="subheading mt-8 lg:mt-0">And so long as we're not doing everything in our 
                        personal and collective power to solve them, we 
                        know the conscience of our nation cannot rest. </p>
                    <p class="subheading mt-8">And so long as we're not doing everything in our 
                        personal and collective power to solve them, we 
                        know the conscience of our nation cannot rest. </p>
                </div>
            </div>
        </div>
    </div>
</HomepageSection>
