---
import HomepageSection from './HomepageSection/index.astro';
import { getProfileHero } from '../api/sanity';
import { PortableText } from "astro-portabletext";

const { profileIntro, profileBody }= await getProfileHero()
---
<HomepageSection  name="Profile Hero">
    <div class="container mx-auto relative flex lg:items-center">
        <div class="z-0 m-4 pointer-events-none absolute rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-1/2 aspect-square"></div>
        <div class="relative z-10 container mx-auto px-8 lg:pl-96 flex flex-col">
            <h1 class="uppercase w-fit text-right ml-auto black-weight leading-none tracking-tight">Andrew <br /> HoChoy</h1>
            <h2 class="leading-tight my-8 lg:my-16">{ profileIntro }</h2>
            <div class="lg:columns-2 subheading">
                <PortableText value={ profileBody } />
            </div>
        </div>
    </div>
</HomepageSection>
