---

---
<section class="container mx-auto my-16 p-8 2xl:p-48 flex flex-col">
    <h1 class="uppercase w-fit text-right ml-auto black-weight leading-none tracking-tight">Andrew <br /> HoChoy</h1>
    <p class="subheading leading-tight my-8 lg:my-16">And so long as we're not doing everything in our 
        personal and collective power to solve them, we 
        know the conscience of our nation cannot rest. </p>
    <div class="lg:columns-2 light-weight">
        <p  class="break-after-column">And so long as we're not doing everything in our 
            personal and collective power to solve them, we 
            know the conscience of our nation cannot rest. </p>
        <div>
            <p class="mt-8 lg:mt-0">And so long as we're not doing everything in our 
                personal and collective power to solve them, we 
                know the conscience of our nation cannot rest. </p>
            <p class="mt-8">And so long as we're not doing everything in our 
                personal and collective power to solve them, we 
                know the conscience of our nation cannot rest. </p>
        </div>
    </div>
</section>
