---
interface Props {
  sectionTitle: string;
  sectionDescription: string;
}

const { sectionTitle, sectionDescription } = Astro.props;
---
<div class="container p-8 mx-auto flex flex-col md:gap-x-8 md:flex-row justify-center">
    <h2 class="font-bold md:basis-64 md:text-right leading-tight tracking-tighter">{sectionTitle}</h2>
    <p class="heading basis-2/3">{sectionDescription}</p>
</div>