---
import { Carousel } from '../components/Carousel/index.jsx'

---
<section>
    <div class="container p-8 mx-auto flex flex-col md:gap-x-8 md:flex-row justify-end">
        <h4 class="font-bold md:basis-64 md:text-right leading-tight">THOUGHTS &amp; EXPERIMENTS</h4>
        <p class="basis-2/3">And so long as we're not doing everything in our personal and collective power to solve them, we know the conscience of our nation cannot rest.</p>
    </div>
    <Carousel makeSmall client:visible />
</section>