---
import { Carousel } from '../components/Carousel/index.jsx'
import SectionHeader from './SectionHeader.astro';

---
<section>
    <SectionHeader 
        sectionTitle="THOUGHTS &amp; EXPERIMENTS" 
        sectionDescription="And so long as we're not doing everything in our personal and collective power to solve them, we know the conscience of our nation cannot rest."
    />
    <Carousel makeSmall client:visible />
</section>