---
import { Carousel } from '../components/Carousel/index.jsx'

---
<section>
    <div class="container p-8 mx-auto flex flex-col md:gap-x-8 md:flex-row justify-center">
        <p class="subheading font-bold md:basis-64 md:text-right leading-tight tracking-tighter">THOUGHTS &amp; EXPERIMENTS</p>
        <p class="basis-1/2">And so long as we're not doing everything in our personal and collective power to solve them, we know the conscience of our nation cannot rest.</p>
    </div>
    <Carousel makeSmall client:visible />
</section>