---

---
<section>
    <div class="container mx-auto p-16 gap-16 flex flex-col">
        <div class="gap-32 flex justify-center">
            <div class="flex flex-col gap-8">
                <p class="text-right">Places I've learned</p>
                <div class="flex gap-8">
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-24 h-24"></div>
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-24 h-24"></div>
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-24 h-24"></div>
                </div>
            </div>
            <div class="flex flex-col gap-8">
                <p>Places I've worked</p>
                <div class="flex gap-8">
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-24 h-24"></div>
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-24 h-24"></div>
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-24 h-24"></div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-8 place-items-center">
            <p>Brands I've worked with</p>
            <div class="flex gap-8">
                <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-20 h-20"></div>
                <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-20 h-20"></div>
                <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-20 h-20"></div>
                <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-20 h-20"></div>
            </div>
        </div>
    </div>
    <div class="container grid place-items-center text-center mx-auto p-48">
        <p class="heading tracking-tight">Currently running my digital agency Webspenser with the mission of helping small businesses harness the power of the web and find success online</p>
    </div>
</section>