---
import { Carousel } from '../components/Carousel/index.jsx'

---
<section>
    <div class="container p-8 mx-auto flex flex-col md:gap-x-8 md:flex-row justify-center">
        <p class="subheading font-bold md:basis-64 md:text-right leading-tight tracking-tighter">WORK &amp; WHATNOT</p>
        <p class="basis-1/2">And so long as we're not doing everything in our personal and collective power to solve them, we know the conscience of our nation cannot rest.</p>
    </div>
    <Carousel client:visible />
    <div class="container mx-auto p-16 gap-16 flex flex-col">
        <div class="gap-32 flex justify-center">
            <div class="flex flex-col gap-8">
                <p class="font-thin text-right">Places I've learned</p>
                <div class="flex gap-8">
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-20 h-20"></div>
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-20 h-20"></div>
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-20 h-20"></div>
                </div>
            </div>
            <div class="flex flex-col gap-8">
                <p class="font-thin">Places I've worked</p>
                <div class="flex gap-8">
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-20 h-20"></div>
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-20 h-20"></div>
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-20 h-20"></div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-8 place-items-center">
            <p class="font-thin">Brands I've worked with</p>
            <div class="flex gap-8">
                <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-16 h-16"></div>
                <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-16 h-16"></div>
                <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-16 h-16"></div>
                <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 w-16 h-16"></div>
            </div>
        </div>
    </div>
    <div class="container grid place-items-center text-center mx-auto p-48">
        <p class="heading tracking-tight">Currently running my digital agency Webspenser with the mission of helping small businesses harness the power of the web and find success online</p>
    </div>
</section>