---
import SectionHeader from './HomepageSection/Header.astro';
import HomepageSection from './HomepageSection/index.astro';

---
<HomepageSection name="Works">
    <SectionHeader 
        sectionTitle="WORK &amp; WHATNOT" 
        sectionDescription="And so long as we're not doing everything in our personal and collective power to solve them, we know the conscience of our nation cannot rest."
        sectionCTA="Let's Parlez"
        sectionCTAurl="/"
    />
    <div class="grid grid-cols-1 md:grid-cols-3 auto-rows-[minmax(calc(50vh-3rem),_1fr)] place-items-stretch gap-8 px-8">
        <div class="col-span-1 rounded-lg bg-zinc-300 md:col-span-2 row-span-2"></div>
        <div class="col-span-1 rounded-lg bg-blue-300"></div>
        <div class="col-span-1 rounded-lg bg-amber-300"></div>
        <div class="col-span-1 rounded-lg bg-neutral-300"></div>
        <div class="col-span-1 rounded-lg bg-cyan-300 md:col-span-2 "></div>
    </div>
</HomepageSection>
