---
import HomepageSection from './HomepageSection/index.astro';

---
<HomepageSection name="Work Details">
    <div class="container grid place-items-center text-center mx-auto">
        <p class="heading tracking-tight p-8">Currently running my digital agency Webspenser with the mission of helping small businesses harness the power of the web and find success online</p>
    </div>
    <div class="container mx-auto md:py-16 gap-16 flex flex-col place-items-center text-center text-zinc-400 uppercase">
        <div class="gap-16 md:gap-32 flex flex-col md:flex-row justify-center place-items-center">
            <div class="flex flex-col gap-8">
                <p class="lg:text-right">Places I've learned</p>
                <div class="grid grid-cols-2 md:grid-cols-3 gap-8 justify-items-stretch">
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 aspect-square"></div>
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 aspect-square"></div>
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 aspect-square"></div>
                </div>
            </div>
            <div class="flex flex-col gap-8">
                <p class="lg:text-left">Places I've worked</p>
                <div class="grid grid-cols-2 md:grid-cols-3 gap-8 justify-items-stretch">
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 aspect-square"></div>
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 aspect-square"></div>
                    <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 aspect-square"></div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-8">
            <p>Brands I've worked with</p>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-8 justify-items-stretch">
                <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 aspect-square"></div>
                <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 aspect-square"></div>
                <div class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 aspect-square"></div>
            </div>
        </div>
    </div>
</HomepageSection>